@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{ Layout = "_LayoutAR"; }



<section class="about d-flex align-items-center text-dark py-5" id="about" style="height: 100%;">
    <div class="container">
        <div class="row d-flex align-items-center">

            <div class="col-lg-5 text-center py-4 py-sm-0" data-aos="fade-down">
                <img class="img-fluid" src="~/assets/images/about.jpg" alt="about">
            </div>
            <div class="col-lg-7" data-aos="fade-right">
                <h2 dir="rtl" lang="ar">مــن نحن</h2>
                <p class="py-2 para-light" dir="rtl" lang="ar">
                    شبكة "مدينة الأعمال – Businicity "هي أول مشاريع شركة "هانوفر - Hanover "المختصة في حلول تكنولوجيا الأعمال
                    تأسست "هانوفر - Hanover "مطلع العام 2021 في العاصمة الأردنية - عمان، تعمل على إدارتها مهارات شبابية واعدة،
                    وتقدم حلول تكنولوجية فريدة تشمل تنفيذ المشاريع وتطوير البرمجيات على مستوى عالي من المهنية والدقة.
                </p>
                <h2 dir="rtl" lang="ar">الرسالة</h2>
                <p class="py-2 para-light" dir="rtl" lang="ar">
                    شركة تهتم بتطوير سوق العمل ورفده
                    بالمهارات المهنية المطلوبة من خلال شبكة
                    الانترنت، وتعنى بتمهيد الطريق أمام الأفكار
                    الريادية الناشئة لخلق أسواق ريادية جديدة
                    تنهض بالاقتصاد المحلي وتساهم بنمو
                    .الاقتصاد في العالم العربي
                    <h2 dir="rtl" lang="ar">الرؤية</h2>
                <p dir="rtl" lang="ar" class="py-2 para-light">.قطاع التكنولوجيا الأردني، للعالمية</p>
                <h2 dir="rtl" lang="ar">المبادئ</h2>
                <p dir="rtl" lang="ar" class="py-2 para-light">لخصوصية - أهمية الوقت - الجودة</p>
                <h2 dir="rtl" lang="ar">نطاق العمل</h2>
                <p dir="rtl" lang="ar" class="py-2 para-light">
                    تبني "هانوفر - Hanover "أساساتها تبعًا لتضاريس ومتطلبات سوق العمل الجديد، فتقدم الشركة الخدمات om c
                    والمنتجات الرقمية التي تزيد من فاعلية التواصل وتسهم في تطوير المهارات المهنية وتسهل عمليات البيع
                    والتسويق، كما توفر الاحتياجات التكنولوجية لكافة القطاعات العاملة من خلال:
                </p>


                <p dir="rtl" lang="ar" class="py-2 para-light">
                    •تطوير المهارات الشخصية والمهنية وتدريب حديثي التخرج والمقبلين على الحياة المهنية ورفع كفاءة من هم
                    على رأس عملهم، مدعمة بشهادات مهنية من أفضل المعاهد المختصة ودور المعرفة العالمية.
                </p>

                <p dir="rtl" lang="ar" class="py-2 para-light">•صفحات ومواقع إلكترونية كاملة ذات نطاق خاص من اختيار العملاء وامتلاك موقع رسمي خاص بهم ولهم صلاحية التعديل والكتابة والإضافة لمواقعهم دون الرجوع للشركة، وصفحات سوق أخرى تعريفية لبيع الخدمات و عرض المنتجات المختلفة تحت نطاق الشركة. </p>

                <p dir="rtl" lang="ar" class="py-2 para-light">•سوق إلكتروني شامل لخدمات البيع والوصول عبر شبكة الإنترنت. </p>

                <p dir="rtl" lang="ar" class="py-2 para-light">•محرك بحث يعمل على ملئ الشواغر المهنية والمختصة المطلوبة لدى مختلف القطاعات لتقليص الفجوة بين الشركات وبين المهارات الباحثة عن عمل في نفس المجال. </p>

                <p dir="rtl" lang="ar" class="py-2 para-light">•خدمة كتابة المحتوى والتصوير الفوتوغرافي وبرمجة المواقع الإلكترونية كاملة وخدمات الترجمة باللغة العربية والإنجليزية.</p>

                <p dir="rtl" lang="ar" class="py-2 para-light">•تنفيذ كافة مشاريع تطوير البرمجيات وتجارتها على مستوى عالي من المهنية والدقة، بسواعد وخبرات محلية تغطي كافة محافظات المملكة الأردنية الهاشمية، والعالم العربي بالتدريج.</p>

                <p dir="rtl" lang="ar" class="py-2 para-light">•نظام نقاط البيع على شبكة الإنترنت تقوم تدير كافة عمليات المحاسبة والمستودعات، وتعمل على تحرير الفواتير وحساب الضرائب وتخزين وأرشفة البيانات بخصوصية وأمان.</p>

                <p dir="rtl" lang="ar" class="py-2 para-light">•برمجة وتطوير البرامج المهنية والمواقع الإلكترونية الخاصة بكافة أشكالها. </p>

                <p dir="rtl" lang="ar" class="py-2 para-light">•إبداع space : مساحة إبداعية تضع الأفكار الشابة والجديدة على اختلافها على المسار الصحيح نحو التطور والنمو</p>
                </p>
            </div>

        </div> <!-- end of row -->
    </div> <!-- end of container -->
</section> <!-- end of about -->