@{
    Layout = "_Layout";

}




<div class="ex-basic-1 pt-5 pb-5" style="padding-bottom:0rem!important;">
   
    <div class="col-12 p-0" style="background-color: #15878e;">
        <h2 class="text-white text-center border-bottom mb-0 p-4"><a href=@Url.Action("Index1","Home")> <i class="fas fa-home text-dark"></i></a> Software</h2>
    </div>
    
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-fluid mt-5 mb-3" src="~/assets/images/software.jpg" alt="alternative">
            </div>
        </div>
    </div>
</div>


<div class="ex-basic-1 pt-4">
    <div class="container">
        <div class="row">
            <div class="col-xl-10 offset-xl-1">
                <h2 class="my-3">Advantages of working with this package</h2>
                <p class="py-2">
                    High drew west we no or at john. About or given on witty event. Or sociable up
                    material bachelor bringing landlord confined. Busy so many in hung easy find well up. So of
                    exquisite my an explained remainder. Dashwood denoting securing be on perceive my laughing so.
                    Ye on properly handsome returned throwing am no whatever.
                </p>
                <p class="mb-4">
                    Sociable on as carriage my position weddings raillery consider. Peculiar trifling
                    absolute and wandered vicinity property yet. The and collecting motionless difficulty son. His
                    hearing staying ten colonel met. Word drew six easy four dear cold deny. Fulfilled direction use
                    continual set him propriety continued. Saw met applauded favourite deficient.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="ex-cards-1 pt-3 pb-3 ">
    <div class="container">
        <div class="row col-xl-10 offset-xl-1">
            <div class="card col-lg-4">
                <ul class="list-unstyled">
                    <li class="d-flex">
                        <span class="fa-stack">
                            <span class="fa-stack-1x" style="background-color: #2c8d97;">1</span>
                        </span>
                        <div class="flex-grow-1">
                            <h5>High Quality Service</h5>
                            <p>
                                Features include an eye catching morphtext in the header, details lightbox for more
                                details information
                            </p>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="card col-lg-4">
                <ul class="list-unstyled">
                    <li class="d-flex">
                        <span class="fa-stack">
                            <span class="fa-stack-1x" style="background-color: #2c8d97;">2</span>
                        </span>
                        <div class="flex-grow-1">
                            <h5>Prompt Timely Delivery</h5>
                            <p>
                                Statistics numbers for important values, card slider for testimonials, image slider
                                for customer logos
                            </p>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="card col-lg-4">
                <ul class="list-unstyled">
                    <li class="d-flex">
                        <span class="fa-stack">
                            <span class="fa-stack-1x" style="background-color: #2c8d97;">3</span>
                        </span>
                        <div class="flex-grow-1">
                            <h5>Skilled Team Involved</h5>
                            <p>
                                Some useful extra pages are bundled with the template lik article details, terms
                                conditions and privacy policy
                            </p>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="card col-lg-4" style="margin-top: 3%;">
                <ul class="list-unstyled">
                    <li class="d-flex">
                        <span class="fa-stack">
                            <span class="fa-stack-1x" style="background-color: #2c8d97;">4</span>
                        </span>
                        <div class="flex-grow-1">
                            <h5>Skilled Team Involved</h5>
                            <p>
                                Some useful extra pages are bundled with the template lik article details, terms
                                conditions and privacy policy
                            </p>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="card col-lg-4" style="margin-top: 3%;">
                <ul class="list-unstyled">
                    <li class="d-flex">
                        <span class="fa-stack">
                            <span class="fa-stack-1x" style="background-color: #2c8d97;">5</span>
                        </span>
                        <div class="flex-grow-1">
                            <h5>Skilled Team Involved</h5>
                            <p>
                                Some useful extra pages are bundled with the template lik article details, terms
                                conditions and privacy policy
                            </p>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="card col-lg-4" style="margin-top: 3%;">
                <ul class="list-unstyled">
                    <li class="d-flex">
                        <span class="fa-stack">
                            <span class="fa-stack-1x" style="background-color: #2c8d97;">6</span>
                        </span>
                        <div class="flex-grow-1">
                            <h5>Skilled Team Involved</h5>
                            <p>
                                Some useful extra pages are bundled with the template lik article details, terms
                                conditions and privacy policy
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
