@{
    <footer class="bg-dark p-4 text-white text-center" style="background-image: url(../assets/images/footer.png);">
        <div style="margin-bottom: 1%;">
            <a class="text-white" style="text-decoration: none; padding: 1%;" href=@Url.Action("Index1","Home")>
                <i class="fas fa-home"></i>
                Home
            </a>
            <a class="text-white" style="text-decoration: none; padding: 1%;" href=@Url.Action("AboutUs","Home")>
                <i class="fab fa-angular"></i>
                About
            </a>
            <a class="text-white" style="text-decoration: none; padding: 1%;" href=@Url.Action("ContactUs","Home")>
                <i class="far fa-address-book"></i> Contact
            </a>
        </div>
        <small>(c) 2021-2022 Written by BusinessCity</small>
        <div class="icons">
            <a href="#" target="_blank">
                <i class="fab fa-whatsapp"></i>
            </a>
            <a href="#" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="#" target="_blank">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="#" target="_blank">
                <i class="fab fa-linkedin"></i>
            </a>
        </div>
    </footer>
}