@model Bisnicity.Models.SignUpPersonViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "EditProfilePerson";


    var mess = TempData["editsucc"] ?? string.Empty;
}


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="~/css/aos.min.css" rel="stylesheet">
    <link href="~/css/swiper.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/css/sign.css">
    <link rel="stylesheet" href="~/css/img.css">
    <link href="~/css/toastr.css" rel="stylesheet" />

    <!-- Favicon -->
    <link rel="icon" href="~/assets/images/favicon.png">
    <title>Edit Profile Person</title>
    <link rel="icon" href="~/assets/images/logo-businicity.png" type="image/x-icon">

</head>

<body class="EditPersonProfile">



    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <a href="profileCompany.html"><img src="~/assets/images/logo-businicity.png" alt="" width="75%"> </a>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="wrap d-md-flex">


                        <div class="login-wrap p-4 p-md-5 col-md-12">

                            <div class="row justify-content-center py-md-5">
                                <nav aria-label="breadcrumb" class="main-breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item">
                                            <a class="text-dark" href=@Url.Action("IndexPerson","Person")>
                                                My
                                                Profile
                                            </a>
                                        </li>
                                        <li class="breadcrumb-item active">
                                            <a class="text-danger">
                                                Edit
                                                Profile Person
                                            </a>
                                        </li>

                                    </ol>
                                </nav>
                                <div class="col-lg-9">


                                    <div class="social-wrap">
                                        <h3 class="mb-3 text-center">Edit Profile Person</h3>
                                        <p class="social-media d-flex justify-content-center">
                                            <a href="#"
                                               class="social-icon google d-flex align-items-center justify-content-center">
                                                <span class="fa fa-google"></span>
                                            </a>
                                            <a href="#"
                                               class="social-icon facebook d-flex align-items-center justify-content-center">
                                                <span class="fa fa-facebook"></span>
                                            </a>
                                            <a href="#"
                                               class="social-icon twitter d-flex align-items-center justify-content-center">
                                                <span class="fa fa-twitter"></span>
                                            </a>
                                            <a href="#"
                                               class="social-icon youtube d-flex align-items-center justify-content-center">
                                                <span class="fa fa-youtube"></span>
                                            </a>
                                            <a href="#"
                                               class="social-icon Insta d-flex align-items-center justify-content-center">
                                                <span class="fa fa-instagram"></span>
                                            </a>
                                        </p>
                                        <p class="or">
                                            <span></span>
                                        </p>
                                    </div>
                                    <form asp-action="EditProfilePerson" enctype="multipart/form-data" method="post">
                                        <div class="row">
                                            <input type="hidden" asp-for="PersonID" />
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="label" for="name">First Name</label>
                                                    <input type="text" asp-for="FirstName" class="form-control">
                                                    <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="label" for="name">SecoundName</label>
                                                    <input type="text" asp-for="SecoundName" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="label" for="name">ThirdName</label>
                                                    <input type="text" asp-for="ThirdName" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="label" for="name">Last Name</label>
                                                    <input type="text" asp-for="LastName" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="label" for="name">Age</label>
                                                    <input type="text" asp-for="Age" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="label" for="name">Address</label>
                                                    <input type="text" asp-for="Address" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="label" for="email">Email Address</label>
                                                    <input type="email" asp-for="Email" class="form-control">
                                                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="label" for="name">Phone Number</label>
                                                    <input type="tel" asp-for="phoneNo" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="label" for="name">linkedInLink</label>
                                                    <input type="url" asp-for="LinkedInLink" class="form-control">
                                                    <span asp-validation-for="@Model.LinkedInLink" class="text-danger"></span>

                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="label" for="password">Password</label>
                                                    <input type="text" asp-for="Password" class="form-control">
                                                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="label">GPA</label>
                                                    <input type="text" asp-for="GPA" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input type="hidden" asp-for="PersonImagePath" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input type="hidden" asp-for="Major" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input type="hidden" asp-for="CreatedAtPerson" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <input type="submit" value="Save" class="btn submit p-3 text-white"
                                                           style="background-color: #178b90;">

                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.9.2/dist/umd/popper.min.js"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous"></script>
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/js/toastr.min.js"></script>
</body>

</html>

<script type="text/javascript">
        $(document).ready(function () {
            var s s = '@mess';
            if (ss) {
                toastr.success(ss);
            }
        })
</script>
